/*FONTS*/
@font-face {
    font-family: 'Overpass';
    src: url('/fonts/overpass/Overpass-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OverpassThin';
    src: url('/fonts/overpass/Overpass-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OverpassBlack';
    src: url('/fonts/overpass/Overpass-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OverpassBold';
    src: url('/fonts/overpass/Overpass-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'OverpassExtraBold';
    src: url('/fonts/overpass/Overpass-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'OverpassBoldItalic';
    src: url('/fonts/overpass/Overpass-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

.overpassthin{
    font-family: 'OverpassThin';
}
.overpassbold{
    font-family: 'OverpassBold';
}
.overpassextrabold{
    font-family: 'OverpassExtraBold';
}
.overpassblack{
    font-family: 'OverpassBlack';
}
.overpassregular{
    font-family: 'Overpass';
}
.overpassbolditalic{
    font-family: 'OverpassBoldItalic';
}
/*FONTS*/

/* PRINCIPALES CLASES*/
a{
    color: #2B454E
}
.text-blue-site{
    color: rgb(43,69,78);
}
.background-bluesite{
    background-color: rgb(43,69,78);
    border-color:  rgb(43,69,78);
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='2B454E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='2B454E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-item img:hover{
    cursor: zoom-in
}
.carouselIndicators {
    position: sticky;
    top: 250px;
    padding: 7px
}

.list-right{
    text-align: right;
    list-style-position: inside;
}
/* FIN PRINCIPALES CLASES*/

/* LAYOUT */
body {
    font-family: 'Overpass';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2B454E;
}
#header {
    background-color: #f8f9fa;
}
#header .navbar {
    border-bottom: 2px solid #a7a7a7;
}
.layout-site {
    flex: 1;
    /*padding-bottom: 25px;*/
    padding-top: 110px;
    max-width: calc(100vw);
}
.layout-home {
    flex: 1;
    max-width: calc(100vw);
    padding-top: 110px;
    /*overflow-y: hidden*/
}
.container-site {
    /*max-width: 1600px;*/
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
}
footer a{
    color: #2B454E;
}


/* MENU */
#enl-home-page{
    width: 250px;
}
.nav-item > a{
    font-family: 'OverpassBold';
    text-transform: uppercase;
    color: #2B454E;
    font-size: 1.15rem;
}
.nav-item > a.active {
    background-color: #2B454E;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius-topleft: 10px 10px  0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #fff !important;
}
.headerinicio,.headerinicio > .navbar
{
    background-color: transparent !important;
}
#btn-inicio-session{
    text-transform: uppercase;
    background-color: #2B454E;
    color: #fff;
    font-family: 'OverpassBold';
    font-weight: bold;
    font-size: 1.2em;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: #2B454E;
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.nav > li > form > button.logout:focus {
    outline: none;
}

.nav-item .dropdown-menu .dropdown-item {
    font-family: 'OverpassBold';
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #2B454E;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    margin-right: 2rem;
}
.nav-item .dropdown-menu .dropdown-item:hover{
    background-color: rgba(43, 69, 78, 0.4);
}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}


@media (min-width: 576px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }
    .navbar-expand-lg  {
        padding-right: 0rem;

    }
}
/* FIN DEL MENU */

.footerdegrade{
    background: linear-gradient(90deg, rgba(194,236,181,1) 0%, rgba(156,217,189,1) 35%, rgba(0,128,200,1) 100%);
}
.footerrowtop{
    -webkit-box-shadow: 0px -5px 5px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px -5px 5px 0px rgba(138,138,138,1);
    box-shadow: 0px -5px 5px 0px rgba(138,138,138,1);
}
@media (min-width: 992px){
    .col-footer-right{
        text-align: right;
    }
}
/* FIN LAYOUT*/











/* HOME */
.btn-asociate-home {
    
    background-color: #2B454E;
    color: #fff;
    font-family: 'OverpassExtraBold';
    font-weight: bold;
    font-size: 1.8em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: #2B454E;
    padding: 15px 25px;
}
.carousel-caption-home{
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    z-index: 10;
    color: #fff;
    text-align: left;
}
.carousel-caption-description-home{
    font-size: 1.8rem;
}

.carousel-caption-title-home{
    font-size: 2.6rem;
}
/* FIN HOME */




.scroll-column {
    overflow-y: auto;
    max-height: 550px;
    padding: 0.5rem 2rem;
}

.p-descrip-page{
    font-size: 1.6rem;
}
.list-page-roww{
    padding-left: 25px;
    ;
}



.carousel img {
    width: 100%;
    height: 100%;
}

#container-autoridades {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#container-autoridades .item {
    margin: 5px;
}







.heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.heading-text span {
    font-weight: 100;
}


.texto-farmacia{
    font-size: 1.3rem;
}
/* Responsive image gallery rules begin*/

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    list-style: none;
    border: 2px #f5f5f5 groove;
    padding: 2rem;
}


.image-gallery > li {
    flex-basis: 32%   ;
    position: relative;
    cursor: pointer;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}



/**** AUTORIDADES ****/
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    list-style: none;
    border: 2px #f5f5f5 groove;
    padding: 2rem;
}

.image-gallery > li {
    flex-basis: 32%   ;
    position: relative;
    cursor: pointer;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}
.image-gallery li:hover .overlay-titulo {
    transform: scale(1);
}
.overlay-titulo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-descripcion {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: rgba(43, 69, 78, 0.7);
    bottom: 20px;
    left: 0;
    color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
}
/**** FIN AUTORIDADES ****/


/**** TURISMO ****/
.h-divider {
    margin: auto;
    margin-top: 8px;
    width: 80%;
    position: relative;
}

.h-divider .shadow {
    overflow: hidden;
    height: 20px;
}

.h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}
.divider {
    position: relative;
    border-bottom: 5px solid #f0f0f0;
    margin-bottom: 50px;
    margin-top: 50px;
}
.divider:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    background: #fff;
    margin-top: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.divider:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #2ca5b9;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    background: #2ca5b9;
    margin-top: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.comollego-container{
    background-color: #2B454E;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.comollego{
    background-color: #2B454E;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.comollego-description{
    border-left: 2px solid #fff;
    font-size: 2rem
}
/**** FIN TURISMO ****/



/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #411ad1 #ffffff;
}

/* Chrome, Edge, and Safari */
.scroll-column::-webkit-scrollbar {
    width: 6px;
}

.scroll-column::-webkit-scrollbar-track {
    background: #ffffff;
}

.scroll-column::-webkit-scrollbar-thumb {
    background-color: #2B454E;
    border-radius: 10px;
    border: 1px none #ffffff;
}
/* ===== FIN Scrollbar CSS ===== */

.list-institucional > li{
    margin: 5px 5px;
}








/*LOGIN*/
.login-page{
    background-image: url("/images/login.jpg");
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.login-page, .register-page {
    -ms-flex-align: center;
    align-items: center;
    background-color: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 0px 21px 41px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.card-login{
    box-shadow: 0px 0px 21px 41px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: transparent
}
/*LOGIN*/






