/* fonts */
@font-face {
    font-family: 'Overpass';
    src: url('/fonts/overpass/Overpass-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OverpassBlack';
    src: url('/fonts/overpass/Overpass-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OverpassBold';
    src: url('/fonts/overpass/Overpass-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OverpassExtraBold';
    src: url('/fonts/overpass/Overpass-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'OverpassBlack';
    src: url('/fonts/overpass/Overpass-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
/* FIN fonts */ 

/* PRINCIPALES CLASES*/ 
.text-overpassbold{
    font-family: 'OverpassBold';
}
.text-overpassextrabold{
    font-family: 'OverpassExtraBold';
}
.text-overpassbalck{
    font-family: 'OverpassBlack';
}
.text-overpassregular{
    font-family: 'Overpass';
}
.text-blue-site{
    color: #2B454E;
}
.background-bluesite{
    background-color: #2B454E;
    border-color:  #2B454E;
}

/* FIN PRINCIPALES CLASES*/ 


/* INICIO DEL FOTTER */
.colfooterleft{
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.colfooterright{
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 10px;
    
}
footer {
    background-image: url("/images/pie.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 25px 50px;
}
/* FIN DEL FOTTER */
/* LAYOUT */
body {
    font-family: 'Overpass';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2B454E;
}
.header {
    height: 50px; 
    background-color: #f8f9fa;
}
.content-site {
    flex: 1;
    padding: 70px 25px 190px 50px;
}
/* FIN LAYOPUT*/


/* MENU */
#enl-home-page{
    background-image: radial-gradient(circle at 33.19% 51.47%, #84fff3 0, #67faf2 25%, #3cf2f2 50%, #00eaf3 75%, #00e2f5 100%);
    height: 25px;
    width: 25px;
    border-radius: 50px;
}
.nav-item > a{
    font-family: 'OverpassBold';
    font-weight: bold;
    text-transform: uppercase;
    color: #2B454E;
    font-size: 1.15rem;
}
.nav-item >a.active {
    background-color: #2B454E;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius-topleft: 10px 10px  0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #fff !important;
}

#btn-inicio-session{
    text-transform: uppercase;
    background-color: #2B454E;
    color: #fff;
    font-family: 'OverpassBold';
    font-weight: bold;
    font-size: 1.2em;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: #2B454E;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
 text-decoration: none;
 color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
 outline: none;
}

/* FIN DEL MENu */

/* page inicio */
.bodyinicio{
    background-image: url("/images/inicionuevo.png");
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headerinicio,.headerinicio > .navbar 
{
    background-color: transparent !important;
}
#btn-asociate{
    text-transform: uppercase;
    background-color: #2B454E;
    color: #fff;
    font-family: 'OverpassBold';
    font-weight: bold;
    font-size: 1.2em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: #2B454E;    
    padding: 5px 15px;
}
/* FIN PAGE INICIO */





.row-turismo{
    border: 1px solid red;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1),0px 8px 10px -3px rgba(0,0,0,0.1)    ;
    margin-top: 5px;
}








/*
main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}*/



/* yii2 */
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* FIN yii2 *
/* align the logout "link" (button in form) of the navbar */



/*

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}*/


/* Estilo para la columna del carrusel */


  .carousel-column {
    padding: 20px;
  }

  /* Estilo para la columna con desplazamiento */


.scroll-column {     
   overflow-y: scroll;
   max-height: 550px;
 }

 




.carouselExampleIndicators img {
  width: 100%;
  height: 350px;
}

#container-autoridades {
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
}
#container-autoridades .item {
     margin: 5px;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; 
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}




.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}



/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; 
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.image-gallery li:hover .overlay {
  transform: scale(1);
}

.carousel-inner {
    border-radius: 35px;
}

.carousel-item img:hover{cursor: zoom-in}

#carouselExampleIndicators { position: sticky; top: 250px;  padding: 7px}


/*
.scroollsite::-webkit-scrollbar {
    width: 8px;     
    height: 8px;    
     
}


.scroollsite::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.scroollsite::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroollsite::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}



.scroollsite::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.scroollsite::-webkit-scrollbar-track:hover,
.contascroollsiteiner::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}*/

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #F90; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
::-webkit-scrollbar-thumb:vertical
{
  border-top: solid 2px rgba(33,33,33,0.5);
  border-bottom: solid 2px rgba(33,33,33,0.5);
}


.list-institucional > li{
    margin: 5px 5px; 
}