
@media (min-width: 1200px){
    /*
.container-imagengalery {
    max-width: 1300px;
}*/
}


@media (max-width: 992px) { 
    
footer {
    background-image: none;
    position: relative;
    width: 100%;
    padding: 10px;
    
    z-index: 1000;
}

.carousel-caption-title-home{
    font-size: 1.8rem;
}
.carousel-caption-description-home{
    font-size: 1.2rem;
}
}


@media (min-width: 992px) {
    .dropdown-toggle-split{
        display:  none;
    }
}


@media (max-width: 576px){
    
.layout-site {
    padding-bottom: 10px;
    padding-top: 109px;
}
.layout-home {
    padding-bottom: 10px;
    margin-top: 1rem;
}

.container-site {
   
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}
    
    #btn-inicio-session{
    text-transform: uppercase;
    background-color: transparent;
    color: #2B454E;
    font-family: 'OverpassBold';
    font-weight: bold;
    font-size: 1.2em;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: #2B454E;
}

footer {
    background-image: none;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #2B3372;
    z-index: 1000;
    color: #fff;
}
footer a{ color: #fff;}


.image-gallery > li {
  flex-basis: 100%   ; 
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}


.p-descrip-page{
    font-size: 1rem;
}

/*home*/
.carousel-caption-title-home{
    font-size: 1.1rem;
}
.carousel-caption-description-home{
    font-size: 0.9rem;
}
.carousel-caption-home {
    position: absolute;
    right: 2%;
    top: 2%;
    transform: none;
    left: 2%;
    z-index: 10;  
    color: #fff;
    text-align: left;
}
.btn-asociate-home {   
    font-size: 1.1rem;
    padding: 5px 15px;
}
/*FIN HOME*/
.comollego-container{
     background-color: #2B454E;
    color: #fff;
    display:flex;
    flex-direction: column;
    width: 100%;
}
.comollego-description{
    border-left: none;
    font-size: 1.4rem
}
}


